html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  color: #b6ccd7;
  scrollbar-width: none;
  width: 100%;
  --background-color: #0a192f;
  --green-text: #64ffda;
  --light-blue-text: #a8b2d1;
}

/* hide default chrome scrollbar */
::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
