/* create color variables */

.container {
  /* padding: 0 2rem; */
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  width: 100%;
}

.container::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.header {
  background-color: #0a192f;
  height: 80px;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.headerScrolled {
  background-color: #0a192f;
  height: 60px;
  transition: all 0.2s;
  position: fixed;
  top: -60px;
  width: 100%;
  z-index: 999;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5rem;
  margin-top: 2.5rem;
  /* border-top: 1px solid #eaeaea; */
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--green-text);
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.sectionTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 800px; */
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
}

.navbar {
  color: var(--light-blue-text);
  display: flex;
  padding: 1rem;
  flex-direction: row;
  list-style: none;
  margin-top: -40px;
}

/* css class for .navbar elements */
.navbar a {
  color: var(--light-blue-text);
  text-decoration: none;
  margin: 1rem;
  font-size: 1rem;
}

/* css class for when text in navbar is hovered, it changes color */
.navbar a:hover {
  color: var(--green-text);
}

.about {
  /* background-color: var(--background-color); */
  align-items: flex-start;
  width: 100%;
}
.home {
  /* move content down */
  margin-top: 15rem;
  align-items: center;
  width: 100%;
}
.contact {
  /* background-color: blue; */
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: auto;
  left: 40px;
  z-index: 10;
  background-color: var(--background-color);
}

.sidebarList {
  list-style: none;
}

.sidebarLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 20px;
  margin-left: -20px;
  background-color: var(--background-color);
  transition: all 0.2s ease-in-out;
}

.sidebar::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-blue-text);
}

.sidebarRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  left: auto;
  z-index: 10;
  background-color: var(--background-color);
}

.sidebarRight::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-blue-text);
}

.sidebarRightLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 200px;
  margin: 20px;
  margin-left: -15px;
  background-color: var(--background-color);
  transition: all 0.2s ease-in-out;
}

/* css class for when text sidebarRightLink is hovered, the text is highlighted */
.sidebarRightLink:hover {
  color: var(--green-text);
}

/* css class for when svg in sidebarLink is hovered, the svg is highlighted */
.sidebarLink:hover {
  color: var(--green-text);
  /* translate upwards */
  transform: translateY(-5px);
}

.sawyerHeadshot {
  border-radius: 2%;
}

.sawyerHeadshotWrapper {
  margin-left: auto;
  position: relative;
  max-width: 300px;
}

.sawyerHeadshotWrapper::before,
.sawyerHeadshotWrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.sawyerHeadshotWrapper::before {
  top: 0px;
  left: 0px;
  mix-blend-mode: screen;
}

.sawyerHeadshotWrapper::after {
  border-radius: 2%;
  border: 2px solid var(--green-text);
  top: 15px;
  left: 15px;
  z-index: -1;
}

.sawyerHeadshotWrapper:hover::after {
  top: 5px;
  left: 10px;
  transition: all 0.2s ease-in-out;
}

/* Once hovering ends, border eases back to original position */
.sawyerHeadshotWrapper:not(:hover)::after {
  transition: all 0.2s ease-in-out;
}
